* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    background: #08082e;
}
.nav-links {
    display: flex;
    list-style: none;
    
}



.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
.nav-links a:hover {
    background: #38bdf8;
}
  
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;

}

.hero h1 {
  font-size: 0.5rem;
}

.hero-content{
    text-align: center;
}

.highlight {
  color: #ffd60a;
}

h2{
text-align: center;
}
h3{
    text-align: center;
}
li{
    text-align: center;
}
p{
    text-align: center;
    
}
.gomis{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border: 0.3rem #3f37c9 solid;
    padding: 0.5rem;
    background-color: rgb(16, 14, 146);
    margin: auto;
    align-items: center;
    width: 10%;
    text-align: center;

}
.photo{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
   display: block;
    margin: 2rem auto;
    border-radius: 50%; 
}
.stats {
    display: flex;
    justify-content: space-around;
   
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #033045de;
    text-align: center;
    padding: 1rem;
}

/* TIMELINE */
.timeline {
    padding: 0.6rem 0.7rem;
    background: #020617;
    color: white;
    text-align: center;
}

.timeline-container {
    position: relative;
    margin: auto;
}

/* ligne verticale */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 4px;
    background: #38bdf8;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* item */
.timeline-item {
    padding: 2rem 4rem;
    position: relative;
    width: 50%;
}

/* gauche */
.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

/* droite */
.timeline-item:nth-child(even) {
    left: 50%;
}

/* point */
.timeline-item::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: #38bdf8;
    border-radius: 50%;
    top: 2rem;
    right: -1.5rem;
}

/* point droite */
.timeline-item:nth-child(even)::after {
    left: -1.5rem;
}

/* contenu */
.timeline-content {
    background: #1e293b;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* RESPONSIVE */
@media (max-width: 48rem) {

    .timeline-container::after {
        left: 10px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 2.5rem;
        text-align: left;
    }

    .timeline-item:nth-child(even) {
        left: 0;
    }

    .timeline-item::after {
        left: 0;
    }
}

/* SECTION TECH */
.tech {
    padding: 3.7rem 1.25rem;
    text-align: center;
}

.tech h2 {
    margin-bottom: 1.8rem;
}

/* CONTAINER */
.tech-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

/* CARD */
.tech-card {
    background: #1e293b;
    padding: 2rem;
    width: 120px;
    border-radius: 0.6rem;
    transition: 0.3s;
}

/* ICONES */
.tech-card i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* HOVER */
.tech-card:hover {
    transform: translateY(-10px);
    background: #38bdf8;
}

/* RESPONSIVE */
@media (max-width: 48rem) {
    .tech-container {
        flex-direction: column;
        align-items: center;
    }
}

/* BOUTON */
#toggle-theme {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border: none;
    background: #054c6a;
    color: white;
    border-radius: 0.3125rem;
}

/* PROJECTS */
.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card {
    width: 250px;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}
.project-card img {
    width: 100%;
    border-radius: 10px;
}
/* BLOG HERO */
.blog-hero {
    text-align: center;
    padding: 3.75rem 1.25rem;
    background: #0f172a;
    color: white;
}

/* CONTAINER */
.blog-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    padding: 2.5rem;
}

/* CARD */
.blog-card {
    background: #1e293b;
    width: 17.5rem;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: 0.3s;
}



.blog-card:hover {
    transform: translateY(-0.625rem);
    background: #334155;
}
/* RESPONSIVE */
@media (max-width: 48rem) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }
}

/* SECTION TESTIMONIALS */
.testimonials {
    padding: 3.75rem 1.25rem;
    text-align: center;
    background: #0f172a;
    color: white;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

/* CARD */
.testimonial-card {
    background: #1e293b;
    padding: 2rem;
    width: 17.5rem;
    border-radius: 0.625rem;
    transition: 0.3s;
}

/* TEXTE */
.testimonial-card p {
    font-style: italic;
    color: #cbd5e1;
}

/* NOM */
.testimonial-card h4 {
    margin-top: 1rem;
    color: #38bdf8;
}

/* HOVER */
.testimonial-card:hover {
    transform: translateY(-0.625rem);
    background: #334155;
}

/* RESPONSIVE */
@media (max-width: 48rem) {
    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }
}


/* FOOTER */
.footer {
    background: #020617;
    color: white;
    padding: 2.5rem 1.25rem;
    margin-top: 3.125rem;
}

/* CONTAINER */
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.25rem;
}

/* BOX */
.footer-box {
    width: 15.625rem;
}

/* TITRES */
.footer-box h3 {
    margin-bottom: 1rem;
    color: #38bdf8;
}

/* LISTE */
.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 1rem;
}

.footer-box a {
    color: #cbd5e1;
    text-decoration: none;
}

.footer-box a:hover {
    color: #38bdf8;
}

/* COPYRIGHT */
.copyright {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 0.875rem;
    color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 48rem) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}



/* SECTION */
.project-request {
    padding: 3rem 1rem;
    text-align: center;
}

/* FORMULAIRE */
.form {
    max-width: 31.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

/* INPUTS */
.form input,
.form textarea,
.form select {
    padding: 0.8rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* TEXTAREA */
.form textarea {
    min-height: 7.5rem;
    resize: vertical;
}

/* BOUTON */
.form button {
    padding: 0.8rem;
    background: #38bdf8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background: #0ea5e9;
    transform: scale(1.03);
}

/* FORMULAIRE RECHERCHE */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    gap: 1.25rem;
}

.search-form input {
    padding: 0.625rem;
    width: 15.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
}

.search-form button {
    padding: 0.625rem 0.9375rem;
    background: #38bdf8;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.search-form button:hover {
    background: #0ea5e9;
}

.contact-info {
    text-align: center;
    margin-top: 2.5rem;
}

.contact-info h3 {
    margin-bottom: 1rem;
    color: #38bdf8;
}

.contact-info p {
    margin: 0 0.5rem;
    color: #cbd5e1;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* si tu veux garder l’effet rond */
}
.stats-grid, .skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.stat-card, .skill-card {
  flex: 1 1 200px;
}
/* Tablette */
@media (max-width: 48rem) {
  nav ul {
    flex-direction: column;
    gap: 1.25rem;
  }
  .stats-grid, .skills-grid {
    flex-direction: column;
    align-items: center;
  }
}

/* Téléphone */
@media (max-width: 20rem) {
  h1 {
    font-size: 0.5em;
  }
  .btn {
    width: 100%;
    display: block;
    text-align: center;
  }
  .stat-card, .skill-card {
    width: 90%;
  }
}

/* bouton dark mode */
.toggle-btn {
    cursor: pointer;
    margin-left: 15px;
    font-size: 14px;
    background: white;
    color: #6C63FF;
    padding: 5px 10px;
    border-radius: 5px;
}
/* BUTTON */
.btn {
    display: inline-block;
    background: white;
    color: #6C63FF;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ddd;
}
/* =========================
   ANIMATION
========================= */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#theme-toggle {
    display: none;
}


